## Environment variables
## copy this to .env and update values accordingly.

#MySql

MYSQL_ROOT_PASSWORD=rootpassword123
DB_Host=db
DB_PORT=3306
DB_USER=skillpuls
DB_PASSWD=skillpulse123
DB_NAME=skillpulse


#Docker Hub Username - used by docker compose topull images

DOCKERHUB_USERNAME=my-dockerhub-username
